$logo-orange :#ff9801;
$regular-white: #ffffff;
$common-blue: #82C3F5;
$connect-red: #FF4F81;
$connect-blue:#0000ff;
$connect-green:#2CDD98;
$orange-button:#ff9801;
$futer:#000000;
$btn-blue:#1c70b1;
$gray: #808080;
