@import'./_mixins';
@import'./_colors';
@import'./_fonts';
@import'./_reset';

//===>>>>Global css<===
body {
    font-family: 'Roboto Regular';

    h1 {
        font-family: 'Roboto Regular';
        font-size: 24px;
    }

    h2,
    a {
        font-family: 'Roboto Bold';
    }
}


.logo-text {
    font-size: 30px;
    font-family: 'Roboto Bold';
    padding: 20px;
    color: $regular-white;



    .orange-logo {
        border: 3px solid $regular-white;
        border-right: 0px;
        color: $orange-button;
        padding: 0px 10px 0px 10px;
    }


}

.navigation-links {
    .nav-link {
        text-decoration: none;
        color: $regular-white;
        font-size: 12px;
        letter-spacing: 1px;

    }
}

.logo-and-nav {
    @include flex-row-spacearound();

    .nav {
        padding: 25px 10px 0px 10px
    }

}

.header-section {
    background-image: url(/assets/images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
}

.we-shape-title {
    height: 50%;
    padding-top: 50px;
    @include flex-center-column();

    h1 {
        font-size: 30px;
        padding: 10px 10px 40px 10px;
        text-align: center;
        color: $regular-white;
        width: 80%;
    }

    .we-shape-button {
        padding: 8px 15px 8px 15px;
        font-size: 12px;
        border-style: none;
        letter-spacing: 1px;
        border-radius: 15px;
        background-color: $btn-blue;
        color: $regular-white;
    }
}

.tittle {
    @include flex-center-column;

    .tittle-h2 {
        padding: 50px 0px 10px 0px;
        font-family: 'Roboto Regular';
        font-size: 27px;
    }
}

.logo {
    @include flex-center-horiz;
}

.line {
    height: 1.5px;
    background: black;
    width: 100px;
    margin: 10px 5px 0px 5px;

}

.square {
    height: 15px;
    width: 15px;
    background-color: white;
    transform: rotate(45deg);
    margin-bottom: 30px;
    border: 2px solid black;
}

.who-we-are-description {
    @include flex-row;
    padding: 0px 30px 0px 30px;

    .description {
        width: 33%;
        padding: 0px 10px 0px 10px;
        text-align: left;
        line-height: 23px;

        img {
            width: 100%;
        }

        h3 {
            padding-bottom: 20px;
            color: $common-blue;
            font-size: 20px;
        }

        ul {
            padding-left: 10px;
        }

        li {
            list-style: url(../assets/images/arrow_bullet.png);
            padding-top: 5px;
            color: $gray;
        }

        p {
            padding-bottom: 20px;
        }


    }
}

.testimonials-wrapper {
    display: flex;
    flex: 2;
    padding: 0px 30px 0px 30px;
    gap: 20px;




    .testimonial {
        @include flex-row;
        flex-wrap: wrap;
        background-color: $common-blue;
        padding: 25px;


    }

    .info-wrapper {
        padding: 10px 10px 20px;

    }

    .head-img {
        width: 60px;
        border-radius: 50%;
    }

    img {
        width: 75px;
    }

    p {
        font-size: 13px;
        padding: 10px 0px 10px 0px;
        color: $regular-white;
        line-height: 20px;
        font-family: 'Roboto Regular';
    }
}

.contact-form {
    @include flex-row;
    height: 200px;

    p {
        font-size: 14px;
    }

    .box {
        width: 25%;
        @include flex-center-column;
        color: $regular-white;
        padding-bottom: 40px;

        h3 {
            padding: 10px
        }

        .phone {
            @include flex-row;

            img {
                width: 25px;


            }

            p {
                text-align: center;
                padding: 5px;
            }

        }
    }
}


.contact-form {
    .contact {
        background-color: $connect-green;
    }

    .connect {
        background-color: $connect-red;

        img {
            width: 20px;
            padding: 10px;
        }
    }

    .adress {
        background-color: $connect-blue;
    }

    .house {
        background-color: $common-blue;
        padding: 0;

        img {
            height: 100%;
        }
    }
}

iframe {
    width: 100%;
}

.form {
    @include flex-row;
    padding: 0px 60px 0px 60px;
   


    .inputs {
        @include flex-row;
        gap: 15px;
        padding-bottom: 20px;


    }

    form {
        width: 100%;
        margin-bottom: 60px;
    }

    input {
        height: 25px;
        padding: 5px;
        width: 33%;
    }

    textarea {
        width: 99.9%;
        padding: 0;

    }

    .input-btn{
        padding: 5px 10px 5px 10px;
        margin-top: 10px;
        color: $regular-white;
        background-color: $orange-button;
        border: none;
        border-radius: 3px;
        font-family: 'Roboto Regular';

    }
}

.footer {
    @include flex-column;
    justify-content: space-around;
    height: 100px;
    background-color: $futer;
    margin-top: 10px;

    .footer-nav {
        @include flex-row;
        justify-content: center;
        padding-top: 20px;
    }

    a {
        color: $regular-white;
        text-decoration: none;
        font-family: 'Roboto Regular';
        font-size: 14px;
    }

    p {
        text-align: center;
        color: $regular-white;
        font-family: 'Roboto Regular';
        padding: 15px 0px 0px 15px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1200px) {

    .who-we-are-description {
        @include flex-row;
        flex-wrap: wrap;

        .description {
            width: 40%;
            padding: 30px;
            word-break: break-all;
        }

        .description-3 {
            width: 100%;
            word-wrap: wrap;
        }
    }

    .testimonials-wrapper {
        @include flex-row;
        flex-wrap: wrap;
        padding-left: 10%;



        .testimonial-3 {
            align-self: flex-start;
        }
    }

    .testimonial {
        @include flex-row;
        flex-wrap: wrap;
        width: 35%;

    }

    .contact-form {
        @include flex-row;
        flex-wrap: wrap;


        .box {
            flex-wrap: wrap;
            width: 50%;
            height: 150px;
        }


    }

    iframe {
        margin-top: 200px;
        width: 100%;
    }

}

@media only screen and (max-width: 768px) {

    .logo-text {

        color: $gray;



        .orange-logo {
            border: 3px solid $gray;
            border-right: 0px;
            color: $orange-button;

        }
    }

    .header-section {
        background-image: none;
    }

    .logo-and-nav {
        @include flex-center-column;


        .nav {
            width: 80%;


            .navigation-links {
                @include flex-column;
                justify-content: space-around;
                align-items: center;
                background-color: $common-blue;
                height: 200px;

                .nav-link {
                    font-size: 20px;
                }
            }
        }
    }

    .line {
        width: 30px;


    }

    .we-shape-title {
        background-image: url(../assets/images/banner2.jpg);
        padding: 0px;
        margin-top: 20px;
        height: 50%;
        background-size: cover;
        background-repeat: no-repeat;

        h1 {
            font-size: 24px;

        }
    }


    .who-we-are-description {
        @include flex-column;

        .description {
            width: 90%;
            padding: 10px 0px 10px 0px;
        }
    }


    .testimonials-wrapper {
        @include flex-center-column;

        .testimonial {
            width: 80%;
        }

        .testimonial-3 {
            align-self: center;
        }
    }


    form {
        .inputs {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-bottom: 20px;
            align-content: space-around;
            flex-wrap: wrap;

            input {
                width: 100%;

            }

        }

        textarea {
            padding-left: 5px;
        }


    }
}