@font-face {
  font-family: "Roboto Regular";
  src: url(../assets/fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: "Roboto Bold";
  src: url(../assets/fonts/Roboto-Bold.ttf); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Roboto Regular'; }
  body h1 {
    font-family: 'Roboto Regular';
    font-size: 24px; }
  body h2,
  body a {
    font-family: 'Roboto Bold'; }

.logo-text {
  font-size: 30px;
  font-family: 'Roboto Bold';
  padding: 20px;
  color: #ffffff; }
  .logo-text .orange-logo {
    border: 3px solid #ffffff;
    border-right: 0px;
    color: #ff9801;
    padding: 0px 10px 0px 10px; }

.navigation-links .nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px; }

.logo-and-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .logo-and-nav .nav {
    padding: 25px 10px 0px 10px; }

.header-section {
  background: url(../assets/images/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem; }

.we-shape-title {
  height: 50%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .we-shape-title h1 {
    font-size: 30px;
    padding: 10px 10px 40px 10px;
    text-align: center;
    color: #ffffff;
    width: 80%; }
  .we-shape-title .we-shape-button {
    padding: 8px 15px 8px 15px;
    font-size: 12px;
    border-style: none;
    letter-spacing: 1px;
    border-radius: 15px;
    background-color: #1c70b1;
    color: #ffffff; }

.tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .tittle .tittle-h2 {
    padding: 50px 0px 10px 0px;
    font-family: 'Roboto Regular';
    font-size: 27px; }

.logo {
  display: flex;
  justify-content: center; }

.line {
  height: 1.5px;
  background: black;
  width: 100px;
  margin: 10px 5px 0px 5px; }

.square {
  height: 15px;
  width: 15px;
  background-color: white;
  transform: rotate(45deg);
  margin-bottom: 30px;
  border: 2px solid black; }

.who-we-are-description {
  display: flex;
  flex-direction: row;
  padding: 0px 30px 0px 30px; }
  .who-we-are-description .description {
    width: 33%;
    padding: 0px 10px 0px 10px;
    text-align: left;
    line-height: 23px; }
    .who-we-are-description .description img {
      width: 100%; }
    .who-we-are-description .description h3 {
      padding-bottom: 20px;
      color: #82C3F5;
      font-size: 20px; }
    .who-we-are-description .description ul {
      padding-left: 10px; }
    .who-we-are-description .description li {
      list-style: url(../assets/images/arrow_bullet.png);
      padding-top: 5px;
      color: #808080; }
    .who-we-are-description .description p {
      padding-bottom: 20px; }

.testimonials-wrapper {
  display: flex;
  flex: 2;
  padding: 0px 30px 0px 30px;
  gap: 20px; }
  .testimonials-wrapper .testimonial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #82C3F5;
    padding: 25px; }
  .testimonials-wrapper .info-wrapper {
    padding: 10px 10px 20px; }
  .testimonials-wrapper .head-img {
    width: 60px;
    border-radius: 50%; }
  .testimonials-wrapper img {
    width: 75px; }
  .testimonials-wrapper p {
    font-size: 13px;
    padding: 10px 0px 10px 0px;
    color: #ffffff;
    line-height: 20px;
    font-family: 'Roboto Regular'; }

.contact-form {
  display: flex;
  flex-direction: row;
  height: 200px; }
  .contact-form p {
    font-size: 14px; }
  .contact-form .box {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    padding-bottom: 40px; }
    .contact-form .box h3 {
      padding: 10px; }
    .contact-form .box .phone {
      display: flex;
      flex-direction: row; }
      .contact-form .box .phone img {
        width: 25px; }
      .contact-form .box .phone p {
        text-align: center;
        padding: 5px; }

.contact-form .contact {
  background-color: #2CDD98; }
.contact-form .connect {
  background-color: #FF4F81; }
  .contact-form .connect img {
    width: 20px;
    padding: 10px; }
.contact-form .adress {
  background-color: #0000ff; }
.contact-form .house {
  background-color: #82C3F5;
  padding: 0; }
  .contact-form .house img {
    height: 100%; }

iframe {
  width: 100%; }

.form {
  display: flex;
  flex-direction: row;
  padding: 0px 60px 0px 60px; }
  .form .inputs {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 20px; }
  .form form {
    width: 100%;
    margin-bottom: 60px; }
  .form input {
    height: 25px;
    padding: 5px;
    width: 33%; }
  .form textarea {
    width: 99.9%;
    padding: 0; }
  .form .input-btn {
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    color: #ffffff;
    background-color: #ff9801;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto Regular'; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  background-color: #000000;
  margin-top: 10px; }
  .footer .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px; }
  .footer a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto Regular';
    font-size: 14px; }
  .footer p {
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Regular';
    padding: 15px 0px 0px 15px;
    font-size: 14px; }

@media only screen and (max-width: 1200px) {
  .who-we-are-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .who-we-are-description .description {
      width: 40%;
      padding: 30px;
      word-break: break-all; }
    .who-we-are-description .description-3 {
      width: 100%;
      word-wrap: wrap; }

  .testimonials-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10%; }
    .testimonials-wrapper .testimonial-3 {
      align-self: flex-start; }

  .testimonial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%; }

  .contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%; }
    .contact-form .box {
      flex-wrap: wrap;
      width: 50%;
      height: 150px; }
    .contact-form .house {
      height: 190px; }
      .contact-form .house img {
        height: 100%; }

  iframe {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .logo-text {
    color: #808080; }
    .logo-text .orange-logo {
      border: 3px solid #808080;
      border-right: 0px;
      color: #ff9801; }

  .header-section {
    background-image: unset; }

  .logo-and-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .logo-and-nav .nav {
      width: 80%; }
      .logo-and-nav .nav .navigation-links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #82C3F5;
        height: 200px; }
        .logo-and-nav .nav .navigation-links .nav-link {
          font-size: 20px; }

  .line {
    width: 30px; }

  .we-shape-title {
    background-image: url(../assets/images/banner2.jpg);
    padding: 0px;
    margin-top: 20px;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat; }
    .we-shape-title h1 {
      font-size: 24px; }

  .who-we-are-description {
    display: flex;
    flex-direction: column; }
    .who-we-are-description .description {
      width: 90%;
      padding: 10px 0px 10px 0px; }

  .testimonials-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .testimonials-wrapper .testimonial {
      width: 80%; }
    .testimonials-wrapper .testimonial-3 {
      align-self: center; }

  form .inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
    align-content: space-around;
    flex-wrap: wrap; }
    form .inputs input {
      width: 100%; }
  form textarea {
    padding-left: 5px; } }

/*# sourceMappingURL=style.css.map */
