
@font-face {
    font-family: 'Inspiration-Regular';
    src: url(./Inspiration-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');

h1 {
    font-family: 'Barlow Condensed', sans-serif;
}
.one {
    font-family: 'inspiration-Regular'
}

.two {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.three{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.four {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.five {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.one q {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.two q {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.three q {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.four{
    font-family: Arial, Helvetica, sans-serif;
}

.five {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.three span {
    font-weight:900;
    font-style: italic;
}





