.first-p {
    text-transform: uppercase;
    text-decoration:underline;
    
}

.second-p {
    text-transform: lowercase;
    text-decoration:line-through;
    
}


.one {
    text-align: left;
    letter-spacing: 5px;
}

.two {
    text-align: right;
    line-height:200%;
}
.three {
    text-align: center;
}


li a{
    color: red;
    text-shadow: 2px 2px 2px gray;
}

/* li a:visited {
    color: aqua;
} */

li a:hover{
    color: green;
}

li a:active {
    color: pink;
}


.jedan{
    color: rgb(0, 206, 209, 0.5);
    
}
.dva {
    color: #00ced1 ;
    background-color: rgb(255, 0, 0, 50%);
}

.tri{
   color : #00ced1;
}

.prva {
    color: red;
}

.druga{
    color: aliceblue;
}

.treca {
    color: hotpink;
}