.automobil{
    list-style-type: circle;
}

.odeca{
    list-style-type: square;
}

.telefon{
    list-style:upper-alpha;
}

.sat{
    list-style: upper-roman;
}

#boje1{
    margin: 0 0 0 32px;
    line-height: 1.5;
    width: 200px;
}


.a1{
    list-style-image: url(http://upload.wikimedia.org/wikipedia/commons/a/ab/Icons-mini-icon_clock.gif);
}

.a2{
    list-style-image: url(http://upload.wikimedia.org/wikipedia/commons/6/61/Icons-mini-icon_security.gif);
}

#boje2{
    list-style-position: inside;
}


#tablecontainer{
    display: flex;
    justify-content: center;
}
#specs{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 2px;
}
#tableheader{
    background-color: rgb(232, 109, 109);
    height: 50px;
    color: white;

}

td{
    padding: 20px;

}

#specs img{
    width: 100px;

}

#specs tr:hover{
    background-color: lightcoral;
}

tr:nth-child(even){
    background-color: #EEEEEE;
}
#form hr{
    width: 80%;
}
#header{
    text-align: center;
    padding-top: 20px ;
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header .s1{
    color: #2D3E50;
}

#header .s2 {
    color: #FFBE00;
}
#form{
    height: 350px;
    width: 200px;
    background-color: rgba(203, 202, 202, 0.247);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#input{
    text-align: left;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

input{
    border:none;
    border-radius: 3px;
    font-family:'Times New Roman', Times, serif;
    
}
input:hover{
    background-color:  #FFBE00;
}


#btn{
    padding-top: 35px;
    text-align: left;
    
    
}
#submit{
    margin: 0%;
    padding: 0px;
    width: 166px;
    height: 20px;
    border-radius: 3px;
    border: none;
    background-color: #C1392B;
    color: white;
    
    
}

#input input{
    margin-bottom: 9px;
}