<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="html5layout.css">
    <title>Html layout</title>
</head>

<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Blog</a>
        </nav>
    </header>


        <main>
            <img class="bigimg" src="./html5-css3.webp" alt="htmlcss">
            <div class="aside">
                <aside>
                    <p>Rebuilding slack.com</p>
                    <hr>
                    <p>Zasto bootcamp format</p>
                    <hr>
                    <p>React - prozor u svet web aplikacija</p>
                    <hr>
                    <p>Najvece zablude o programerima u Srbiji</p>
                    <hr>
                </aside>
            </div>
            <div>


                <div class="div1"></div>
                <div class="div2"></div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam molestiae unde debitis porro ipsa
                    ipsum sunt. Totam est ea voluptatum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ipsam dignissimos expedita
                    ducimus asperiores ab dolorem alias qui officia assumenda.</p>
                <div class="div3"></div>
                <div class="div4"></div>
                <div class="div5"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, optio unde dicta, iusto quia minus
                    deleniti sint laboriosam doloremque provident corrupti quae? Nisi doloremque impedit error quas,
                    optio perferendis soluta?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, optio unde dicta, iusto quia minus
                    deleniti sint laboriosam doloremque provident corrupti quae? Nisi doloremque impedit error quas,
                    optio perferendis soluta?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, optio unde dicta, iusto quia minus
                    deleniti sint laboriosam doloremque provident corrupti quae? Nisi doloremque impedit error quas,
                    optio perferendis soluta?</p>
                <div class="div6"></div>
                <div class="div7"></div>
                <div class="div8"></div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ad recusandae itaque illum modi iste
                    vel dolor, laboriosam natus. Perspiciatis ex obcaecati doloribus reiciendis id ut commodi
                    repellendus incidunt deserunt?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas expedita saepe labore facilis
                    quisquam quia quis voluptatum, quas, voluptatibus sit, commodi animi ipsam fugit est eius.
                    Voluptatum debitis quia quisquam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta velit cum recusandae sapiente vitae
                    cumque! Architecto autem asperiores repellat iure, aspernatur iste enim ad explicabo, minus labore
                    quis rerum eum!</p>
            </div>

        </main>

        <footer>
            <span>@BitStudent</span>
        </footer>


    

</body>

</html>