<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="imgs&layouts.css">
    <title>Imgs&layouts</title>
</head>
<body>
<div>

<img class="img1" src=".//sunset-tropical-beach-picture-aspect-ratio-face-figure-girl-changed-93174726.jpg" alt="pic">
<img class="img2" src=".//sunset-tropical-beach-picture-aspect-ratio-face-figure-girl-changed-93174726.jpg" alt="pic">
<img class="img3" src=".//sunset-tropical-beach-picture-aspect-ratio-face-figure-girl-changed-93174726.jpg" alt="pic">




</div>
</body>
</html>