/* .div1{
    background-color: red;
    width: 200px;
    height: 200px;
    position: relative;
    top: 0px;
    left: 0px;

}

.div2{
    background-color: orange;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 100px;
    left: 100px;
}

.div3{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 200px;
    left: 200px;
} */


.div1{
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0px;
    z-index: 2;
    

}

.div2{
    background-color: orange;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: 1;
    
}

.div3{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 300px;
    top: 200px;
    
}