<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layouts.css">
    <title>Layouts</title>
</head>

<body>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quisquam minima odit alias dolor nostrum perferendis
            consequatur doloremque repellendus non laudantium ducimus quibusdam, blanditiis voluptatibus, est consequuntur
            reiciendis quo expedita?</p>
        <img src=".//how-to-create-randomly-generated-backgrounds-css-paint-api.avif" alt="css3" class="img1">
        <img src=".//how-to-create-randomly-generated-backgrounds-css-paint-api.avif" alt="css3" class="img2">
        <img src=".//how-to-create-randomly-generated-backgrounds-css-paint-api.avif" alt="css3" class="img3">
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic a veritatis ullam dolorem earum deserunt!</p>

        <a href="#top" class="top">Go back to top</a>

    </div>
</body>

</html>