.img1{
    position: relative;
    top: 50px ;
    left: 100px;
    width: 100px;
    height: 100px;
}

.img2{
    position: absolute;
    right: 10px;
    top: 15px;
    width: 100px;
    height: 100px;
}

.img3{
    position:absolute;
    bottom: 0px;
    width: 100px;
    height: 100px;
    
    

}

.top{
    position: fixed;
    bottom: 0px;
    right: 0px;
}